<div class='main-nav'>
    <div class='navbar navbar-inverse'>
      <div class='navbar-header'>
        <!--<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
      <span class='sr-only'>Toggle navigation</span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
      <span class='icon-bar'></span>
  </button>-->
        <div *ngIf="isUserAuthenticated">
          <h3>Hello {{userName}}</h3>
          <button class="btn btn-dark btn-lg" (click)="logout()">Выход</button>
        </div>
        <div *ngIf="!isUserAuthenticated">
          <button class="btn btn-dark btn-lg" (click)="logout()">{{isUserAuthenticated}}</button>
        </div>
      </div>
        <div class='clearfix'></div>
        <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
          <ul class='nav navbar-nav'>            
            <li *ngFor="let tl of tasklists" [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
              <ng-template [ngIf]="tasklist?.id != tl.id" [ngIfElse]="edit">
                <a [routerLink]='["/tasklist",tl?.id]' [name]="tl?.name" (click)='collapse()'>
                  <span class='glyphicon glyphicon-th-list'></span> {{tl?.name}}
                  <span class="glyphicon glyphicon-pencil" title="Переименовать" (click)="editTasklist(tl)"></span>
                  <span class="glyphicon glyphicon-trash" title="Удалить" (click)="delete(tl)"></span>
                </a>                
              </ng-template>
            </li>
            <li *ngIf="tableMode; else create">
              <a><span class='glyphicon glyphicon-plus' title="Добавить" (click)='add()'></span></a>
            </li>
            <ng-template #create>
              <li>
                <input type="text" [(ngModel)]="tasklist.name" class="form-control" />
                <span title="Сохранить" (click)="save()" class="glyphicon glyphicon-ok"></span>
                <span title="Отмена" (click)="cancel()" class="glyphicon glyphicon-remove"></span>
              </li>
            </ng-template>
            <ng-template #edit>
              <li>
                <input type="text" [(ngModel)]="tasklist.name" class="form-control" />
                <span title="Сохранить" (click)="save()" class="glyphicon glyphicon-ok"></span>
                <span title="Отмена" (click)="cancel()" class="glyphicon glyphicon-remove"></span>
              </li>
            </ng-template>
          </ul>
        </div>
    </div>
</div>
