<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-user-lists [currentTaskListId]="this.taskListId"></app-user-lists>
    </div>
    <div class='col-sm-9 body-content' *ngIf="this.taskListId || this.taskListUrl">
      <h1>{{taskList?.name}}</h1>
      <div *ngIf="this.taskListId">
        <input type="button" value="New task" class="btn btn-default margin-5" (click)="add()" />
        <input type="button" value="Get url" class="btn btn-default margin-5" (click)="getUrl()" />
        <input class="margin-5" type="text" value="{{generatedTaskListUrl}}" *ngIf="this.generatedTaskListUrl" style="width:320px"/>
      </div>
      <table *ngIf="tableMode; else create" class="table table-striped tasklist">
        <thead>
          <tr *ngIf="!isEmpty">
          </tr>
          <tr *ngIf="isEmpty">
            No tasks
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of tasks">
            <ng-template [ngIf]="editableTask?.id != t.id" [ngIfElse]="edit">
              <td style="width: 30px"><input type="checkbox" checked="{{t?.isCompleted ? 'checked' : ''}}" (click)="changeCompleted(t)" /></td>
              <td style="width: 80%">{{t?.description}}</td>
              <td *ngIf="this.taskListId">
                <button class="btn btn-sm btn-primary" (click)="editTask(t)">Edit</button>
                <button class="btn btn-sm btn-danger" (click)="delete(t)">Delete</button>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>

      <ng-template #edit>
        <td colspan="2">
          <input type="text" [(ngModel)]="editableTask.description" class="form-control" required maxlength="100"/>
        </td>
        <td>
          <input type="button" value="Save" (click)="save()" class="btn btn-sm btn-success" />
          <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
        </td>
      </ng-template>

      <ng-template #create>
        <div class="form-group" style="width:50%;">
          <label>Description</label>
          <input type="text" [(ngModel)]="editableTask.description" class="form-control" required maxlength="100" />
        </div>
        <div class="form-group" style="width:30px">
          <label>Completed</label>
          <input type="checkbox" [(ngModel)]="editableTask.isCompleted" class="form-control" />
        </div>
        <div>
          <input type="button" value="Save" (click)="save()" class="btn btn-success" />
          <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
        </div>
      </ng-template>
    </div>
  </div>
</div>
