<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-user-lists></app-user-lists>
    </div>
    <div class='col-sm-9 body-content'>
      <h1>{{tasklist?.name}}</h1>
      <table class="table table-striped">
        <thead>
          <tr *ngIf="!isEmpty">
            <td width="70%">Description</td>
            <td width="10%">Completed</td>
            <td width="20%"></td>
          </tr>
          <tr *ngIf="isEmpty">
            No tasks
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of tasks">
            <td>{{t?.description}}</td>
            <td><input type="checkbox" checked="{{t?.iscompleted ? 'checked' : ''}}" (click)="changeCompleted(t)" /></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
