<div class='container-fluid'>
  <div class='row'>
    <div class='col-sm-3'>
      <app-nav-menu></app-nav-menu>
    </div>
    <div class='col-sm-9 body-content'>
      <h1>{{tasklist?.name}}</h1>        
      <input type="button" value="Добавить" class="btn btn-default" (click)="add()" />
      <table *ngIf="tableMode; else create" class="table table-striped">
        <thead>
          <!--*ngIf="typeof this.tasks !== 'undefined'"-->
          <tr>
            <td>Описание</td>
            <td>Выполнена</td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let t of tasks">
            <ng-template [ngIf]="task?.id != t.id" [ngIfElse]="edit">
              <td width="70%">{{t?.description}}</td>
              <td width="10%"><input type="checkbox" checked="{{t?.iscompleted ? 'checked' : ''}}" onclick="return false;" /></td>
              <td width="20%">
                <button class="btn btn-sm btn-primary" (click)="editTask(t)">Изменить</button>
                <button class="btn btn-sm btn-danger" (click)="delete(t)">Удалить</button>
              </td>
            </ng-template>
          </tr>
        </tbody>
      </table>

      <ng-template #edit>
        <td>
          <input type="text" [(ngModel)]="task.description" class="form-control" />
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="task.iscompleted" class="form-control" />
        </td>
        <td>
          <input type="button" value="Сохранить" (click)="save()" class="btn btn-sm btn-success" />
          <input type="button" value="Отмена" (click)="cancel()" class="btn btn-sm btn-warning" />
        </td>
      </ng-template>

      <ng-template #create>
        <div class="form-group">
          <label>Описание</label>
          <input type="text" [(ngModel)]="task.description" class="form-control" />
        </div>
        <div class="form-group">
          <label>Выполнена</label>
          <input type="checkbox" [(ngModel)]="task.iscompleted" class="form-control" />
        </div>
        <div>
          <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
          <input type="button" value="Отмена" (click)="cancel()" class="btn btn-warning" />
        </div>
      </ng-template>
    </div>
  </div>
</div>
